<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <configSections>
    <section name="urlrewritingnet" requirePermission="false" type="UrlRewritingNet.Configuration.UrlRewriteSection, UrlRewritingNet.UrlRewriter"/>
  </configSections>

  <system.web>
    <globalization culture="vi-VN" uiCulture="vi-VN"/>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime maxRequestLength="104576"/>
    <authentication mode="Windows"></authentication>
    <sessionPageState historySize="100"/>
    <sessionState timeout="60" mode="InProc"/>
    <httpModules>
      <clear/>
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter"/>
    </httpModules>
    <pages>
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="cc1" />
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>

  <urlrewritingnet rewriteOnlyVirtualUrls="true" contextItemsPrefix="QueryString" defaultPage="Modules/Page/main.aspx" defaultProvider="RegEx" xmlns="http://www.urlrewriting.net/schemas/config/2006/07">
    <rewrites>
      <!-- Login -->
      <add name="admin_login" virtualUrl="^~/AdminTools/Login.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Login.aspx" ignoreCase="true"/>
      <!-- Dashboard -->
      <add name="admin_dashboard" virtualUrl="^~/AdminTools/Dashboard.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Dashboard.aspx" ignoreCase="true"/>
      <!-- About Us -->
      <add name="admin_about_us" virtualUrl="^~/AdminTools/AboutUs.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/AboutUs/main.aspx" ignoreCase="true"/>
      <!-- Products -->
      <add name="admin_manage_products_category" virtualUrl="^~/AdminTools/ManageProductsCategory.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Products/Catalogs/main.aspx" ignoreCase="true"/>
      <add name="admin_manage_products" virtualUrl="^~/AdminTools/ManageProducts.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Products/Products/main.aspx" ignoreCase="true"/>
      <add name="admin_manage_orders" virtualUrl="^~/AdminTools/ManageOrders.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Products/Products/order.aspx" ignoreCase="true"/>
      <!--Payment Methods-->
      <add name="admin_manage_payment_methods" virtualUrl="^~/AdminTools/ManagePaymentMethods.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Products/Products/payment.aspx" ignoreCase="true"/>
      <!-- Articles -->
      <add name="admin_manage_articles_category" virtualUrl="^~/AdminTools/ManageArticlesCategory.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/News/Catalogs/main.aspx" ignoreCase="true"/>
      <add name="admin_manage_articles" virtualUrl="^~/AdminTools/ManageArticles.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/News/News/main.aspx" ignoreCase="true"/>
      <!-- Carousel -->
      <add name="admin_carousel" virtualUrl="^~/AdminTools/Carousel.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Slider/main.aspx" ignoreCase="true"/>
      <!-- Contact -->
      <add name="admin_manage_contact" virtualUrl="^~/AdminTools/ManangeContact.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/AdminTools/Modules/Contact/main.aspx" ignoreCase="true"/>
      
      
      <!-- PAGE -->
      <add name="products_search" virtualUrl="^~/search-results.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/search-result.aspx?idCatalog=$2" ignoreCase="true"/>
      <add name="products_detail" virtualUrl="^~/product/([\w-]*)/([\w-]*)-([0-9]*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/detail.aspx?idProduct=$3" ignoreCase="true"/>
      <add name="products_cata" virtualUrl="^~/product/([\w-]*)-([0-9]*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/catalog.aspx?idCatalog=$2" ignoreCase="true"/>
      <add name="products_cart" virtualUrl="^~/cart.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/cart.aspx" ignoreCase="true"/>
      <add name="products_checkout" virtualUrl="^~/checkout.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/checkout.aspx" ignoreCase="true"/>
      <add name="products" virtualUrl="^~/products.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Products/main.aspx" ignoreCase="true"/>
      <add name="news_detail" virtualUrl="^~/articles/([\w-]*)/([\w-]*)-([0-9]*).html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/News/detail.aspx?idNews=$3" ignoreCase="true"/>
      <add name="news" virtualUrl="^~/articles.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/News/main.aspx" ignoreCase="true"/>
      <add name="contact" virtualUrl="^~/contact-us.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Contact/main.aspx" ignoreCase="true"/>
      <add name="about" virtualUrl="^~/about-us.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/AboutUs/main.aspx?idAbout=$2" ignoreCase="true"/>
      <add name="pagemain" virtualUrl="^~/ez-bikes.html" rewriteUrlParameter="ExcludeFromClientQueryString" destinationUrl="~/Modules/Page/main.aspx" ignoreCase="true"/>
    </rewrites>
  </urlrewritingnet>

  <connectionStrings>
    <add name="cs_sqlserver" connectionString="Data Source=DESKTOP-NMK87MF;Initial Catalog=dbShopsDefault;User ID=sa;Password=123456"/>
  </connectionStrings>

  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
      <remove fileExtension=".woff"></remove>
      <remove fileExtension=".woff2"></remove>
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
      <remove name="ScriptModule" />
      <remove name="UrlRewriteModule" />
      <add name="UrlRewriteModule" type="UrlRewritingNet.Web.UrlRewriteModule, UrlRewritingNet.UrlRewriter" />
    </modules>

    <defaultDocument>
		<files>
			<add value="index.html" />
		</files>
    </defaultDocument>
  </system.webServer>

</configuration>
